body{
    padding: 0px;
    margin: 0px;
}
.square{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid black;
    /*  toda vez que coloco um tamanho maior em qualquer elemento do box model todo o elemento aumenta. Se eu quiser que não aumente use o borderbox */
    box-sizing: border-box;
    box-shadow: 0px 5px 5px 0px;
}