.borda{
    border-width: 5px;
    border: solid;
    border-top-color: red;
    border-radius: 50%;
}

.dotted { border-top-style: dotted;}
.dashed { border-style: dashed;}
.solid { border-style: solid;}
.none { border-style: none;}
.hiden { border-style: hidden}