p{
    font-family: Arial, "Comic Sans MS", sans-serif;

    /* Aqui eu chamo as fontes até que uma funcione no computador do usuário. */
    font-style: italic;
    /* Aqui no font weight eu posso colocar várias configurações de tamanho não so bold. e vai depender da familia da minha fonte */
    font-weight: 500 ;

    font-variant: small-caps;
    /* Permite que todas as fontes fiquei minusculas mas não tira o carater maiusculo das maiusculas. */
}