ul{
    list-style-position: inside;
    /* Outside é o padrão, quando alterado para inside a marcação da lista fica dentro da linha */
    margin: 0px;
    padding: 0px;
    background-color: #dddddd;
}
ol{
    list-style-image: url(../assets/streamline-icon-skull-2@48x48.PNG);
    list-style-position: inside;
}
li{
    border: 1px solid;
    margin: 3px;
    background-color: yellow;
}