/* ID representado com uma cerquilha , nenhum outro elemento pode ter esse id*/
#principal{
    color: red;
    background-color: blueviolet;
}

/*  A diferença da classe para o id é que a classe eu posso usar em mais de um elemento .*/
.verde{
    color: black;
}

/* Diferença entre cores */

h1{
    color: dodgerblue;
    /* Aqui tenho uma cor que será apenas exatamente o que o nome dela determina */
}
h1{
    color: rgb(0, 100, 200 );
    /* Aqui eu tenho 250 tonalidades para variar a cor com rgb e e rgba com canal de transparência */
}

h1{
    /* rgb e exadecimal serão basicamente a mesma coisa só que com representações diferentes */
    color: #70a5ae;
}

#lorem{
    background: url(../assets/ben-jerry-20180410-001.jpg);
    background-repeat: no-repeat;
    /* Posso usar também repeat y ou x para repetir só um e cover */
    background-attachment: fixed;
    /* O background padrão é o scrow, no fixed ele rola junto com a página. assim como também pode ser center */
    background: url(../assets/ben-jerry-20180410-001.jpg) center/cover no-repeat fixed;
    /* criando em unica linha */
}